@font-face {
    src: url(fonts/NunitoSans-Regular.ttf);
    font-family: "Nunito Sans"
}

@font-face {
    src: url(fonts/YesevaOne-Regular.ttf);
    font-family: "Yeseva One";
}

html {
    background: #131313;
}

html,
body {
    margin: auto;
}

.frame {
    width: 1440px;
    height: 7498px;
    margin: 0 auto;
}


/** header **/

header {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #E3B873;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Nunito Sans;
}

.header__links {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

.header__links_tel {
    text-decoration-line: underline;
}

header a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.header_button {
    background-color: #E3B873;
}

.header__links a:hover {
    color: #E3B873;
}


/** main **/

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 710px;
    color: #FFFFFF;
}

.wrapper {
    background-image: url(images/BGmain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 1440px;
    height: 710px;
    z-index: 100;
}

.wrapper2 {
    width: 100%;
    height: 710px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: flex;
    align-items: center;
}

.cover {
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    font-family: Nunito Sans;
    font-style: italic;
    font-size: 12px;
}

.main__title_one {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
}

.main__title_two {
    font-size: 22px;
    line-height: 36px;
}

.cover__botton {
    display: inline;
    margin-top: 32px;
}

button {
    background-color: transparent;
    border: 1px solid #E3B873;
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: italic;
    padding: 20px 40px;
    margin-right: 10px;
}

.button {
    border: 1px solid white;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #E3B873;
    border: 1px solid #E3B873;
    background-size: cover;
    padding: 20px 40px;
}

.colorText {
    color: #E3B873;
}